# ignore file
secrets.txt
# ignore folder
css
# ignore all pdf files
*.pdf

anotherfile.txt
blabla1.txt

# ignore file that was already commited
# git rm --cached name-file.extension

# ignore file that was in staging area
# git restore --staged name-file.extension